:root{
    --color_main: #0E2336;
    --color_letter: #ffffff;
    --color_turquesa: #088460;
    --color_fondo:#0C373D;
    --letter_span: #F8C654;
    --secciones: #092028;
}

body{
    background-color: var(--color_main);    
    margin: 0;
}


h1,h2,h3, p, h4{
    color:var(--color_letter);
}
h1{
    font-weight: bold;
    font-size: 3.5rem;
}
p{
    font-size: 1rem;
}
span{
    color:var(--letter_span);
}
/* Banner*/
.banner{
    height: 95vh;
    display:flex;
    display: flex;
    gap:2rem;
    margin-left:  8rem;

}
.banner-imagenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color_turquesa);
    gap:1.5rem;
    padding: 1.3rem;

    
}
.imagen{
    width: 130px;
    height: 110px;

}

.banner-texto{
    width: 400px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.btn{
    border-radius: 2rem;
    padding: .8rem;
    width: 10rem;
    display: flex;
    justify-content: center; /*alinar texto del boton*/
    align-self: flex-end; /*alinear el boton on flex*/

}
#primer_btn{
    border:none;
    background-color: var(--letter_span);
}

.imagen-banner{
    background-color: var(--color_fondo);
    width: 500px;
    padding-right: 0;
    margin-right: 0;
}

.imagen-banner_max{
width: 450px;
height: 570px;
margin-left: -1rem;
margin-top: 4rem;
}

/*SECTION SECOND*/

.seccion2{
    margin-left: 1.5rem;
}
.contenedor_section2{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 98%;
    margin-right: 10px;
}
.textoSection2{
    margin: 80px 80px 50px 150px; /*top, right, bottom, left*/
}
.titulo{
    display: flex;
}
.titulo_imagen{
    height: 30px;
    display: flex;
    align-self: center;
    margin-top: 2rem;
    margin-left: -2.5rem;
}
.parrafo_Section2{
    
    background-color: var(--color_turquesa);
    padding: 2.5rem;
    padding-top: .5rem;
    width: 250px;
    height: 250px;
    position: absolute;
    top: -70px;
    left: 750px;
    text-align: left;
}
.comillas{
    height: 60px;
    float: right;
}
.img_section2{

    width: 100%;
    /* margin-right: 8rem; */
    float: left;
    margin-left: 0;
    
}

/*Tercera seccion*/
.contenedor_section3{
background-color: var(--secciones);
width: 100%;
height: 250px;
}
.sectionTres{
    width: 700px;
    float: right;
    padding-right: 10px;
    padding-top: 20px;
}
#second_btn{
    background-color: transparent;
    color: var(--color_letter);
    border: 2px solid var(--color_letter);
}
/*section 4*/

.contenedor_section4{
    background-image: url(/asset/cuatro.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}


.numeros{
    margin: 0;
    font-size: 3rem;
}
.cinta-section4{
    background-color: var(--color_turquesa);
    width: 400px;
    height: 700px;
    margin-left: 120px;
    position: relative;
    
}
.linea_cuatro{
    position:absolute;
    left:50%;
    height: 90px;
    width: 25px;
    margin-top: -30px;
}
.contenedor-numeros{
    padding: 100px 30px 20px 70px;
    /*top, right, bottom, left*/
}

.cuatro_img{
    width:400px;
    height: 251px;
}

.card{
    width: 300px;
    padding-left: 40px;
    padding-top: 10px;
}

.num_card{
    font-size: 2.5rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/*SECCION 5*/
.contenedor_section5{
    background-color: var(--secciones);
    width: 100%;
    height: 800px;
    margin: 0;
}

.imagenes_section5{
margin-left: 80px;
}
.contenedor5-1{
    display: flex;
    padding: 70px 100px 0 100px;

}
.imagenes-section{
    width: 300px;
    height: 200px;
    padding-left: 20px;
}
.contenedor5-2, .contenedor5-2_1{
    display: flex;
}
.contenedor5-2_1{
    flex-direction: column;
    padding: 20px 20px 20px 100px;
    /*top, right, bottom, left*/
}
#img-5{
    padding-bottom: 20px;
}
#img-5_1{
    padding-top: 20px;
    width: 620px;
    height: 420px;
}

/*SECCION 6 */
.cards-section6{
    background-color: var(--color_main);
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-top: 50px;
}
.titulo-section6{
    padding-top: 30px;
    text-align: center;
    width: 500px;
    display: block;
    margin-left: 30%;

}
hr{
    height: 10px;
    width: 250px;
    background-color: var(--letter_span);
    border: none;
}
.cards6{
    position: relative;
    padding-left: 50px;
    margin-bottom: 50px;;
    
}
.imgCircle{
    border-radius: 50%;
    width: 250px;
    height: 250px;   
}

.medioCirculo{
    position: absolute;
    top:45%;
    left:58%;
    transform: translate(-50%, -50%);
}

.titleCards{
    margin-top: 2000px;
}
.textCards{
    width: 250px;
    text-align: center;
}


/* Section 7 */
.contenedor7{
    background-color:var(--secciones);
    padding-top: 15px;
    padding-bottom: 40px;
}
.title-main7, .text7{
    text-align: center;
}

.recuadroInformativo7{
height: 400px;
width: 1000px;
margin-left: 150px;
background-color: var(--color_turquesa);
margin-top: 30px;
display: flex;
flex-direction: row;
gap: 20px;
}


.seccionTextos, .seccionTexto7{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.seccionTextos{
    justify-content: center;
}
.seccionTexto7{
    justify-content: space-around;

}
.precio{
    font-size: 20px;
}
.imagen7{
    height: 400px;
    width: 400px;  
}

.contenedor9{
    margin-left: 150px;
    margin-top: 50px;
}
.tituloS7{
    display: grid;
    grid-template-columns:repeat( 3,1fr);
    gap:50px;
}


.circulos{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;

}
div .circulo{
    background-color: var(--color_letter);
    color: var(--color_fondo);
    padding: 10px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.texto9, .circulo i, .circulo h3{
    color:var(--color_main);
    text-align: center;
    display: block;
    margin-top: 20px;
}
.circulo i{
    font-size: 30px;;
}
.circulo:hover {
    background-color: var(--color_turquesa);
}

.circulo:hover p, .circulo:hover i, .circulo:hover h3{
    color: var(--color_letter);
}

footer {
    margin-top: 80px;
    height: 100%;
    width: 100%;
}
.fondo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

footer{
    position: relative;
}
footer img{
    width: 100%;
    height: 750px; 
}

.textoFooter{
    margin-top: 100px;
    margin-left: 100px;
    color: var(--color_letter);
}
.lista{
    margin-top: 80px;
    width: 250px;
}

.lista li{
    margin-bottom:30px;
}
.fondoImg{
    position: relative;
}
.recuadroFondo{
    position: absolute;
    width: 100%;
    height: 755px;
    background-color: var(--color_main);
    opacity: .5;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.miniImg{
    width:200px;
    height: 200px;
    position:absolute;
    top: 90px;
    right: 320px;
}


.formulario{
    background: var(--color_turquesa);
    position: absolute;
    width: 24%;
    height: 55%;
    top: 32%;
    left: 37%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tituloForm, .textoForm{
    margin: auto;
}

.textoForm{
    margin-top: -1em;
}

input{
    margin-bottom: 0.5em;
}
input, .send{
    padding: 0.5em;
}

.btnForm{
    margin: auto;
    width: 45%;
}
.btnForm1{
    border: none;
    position: absolute;
    top: 10em;
    left: 10em;
    padding: 0.8em;
    width: 30%;
}

.send{
    background: var(--letter_span);
    border: none;
}